@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Our Store</h1>
    <p class="lead">Feel free to browse our online shopping center.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="discounts">
    <p>Get $20 off your first purchase</p>
    <p>Get $30 off your the purchase of an Xbox One</p>
    <p>Get $50 off your purchase of an Xbox One and Game Collection</p>
    <p><a href="~/Home/DisplayDiscounts" class="btn btn-info">Learn more</a></p>
</div>

<div class="row">
    <div id ="row1" class="col-md-6">
        <h2>Our Catalog</h2>
        <p>
            We currently sell items like a Fallout 76 figure, the Xbox One, microfiber cloths, a pet rock, and a collection of games.
        </p>
        <p><a class="btn btn-info" href="~/Home/DisplayProducts">Learn more &raquo;</a></p>
    </div>
    <div id="row2" class="col-md-6">
        <h2>Other Discounts</h2>
        <p>See our other Discounts</p>
        <p><a class="btn btn-info" href="~/Home/DisplayDiscounts">Learn more &raquo;</a></p>
    </div>
    
</div>