@model IEnumerable<HTMLHelpers.Models.Order>

<ul>
    @{
        double total = 0.0;
        foreach (var o in ViewBag.Orders)
        {
            total += o.Qty * o.Prod.Price;
            <li>Thank You: @ViewBag.User</li>
            <li>For the purchase of: @o.Prod.Name</li>
            <li>It will be send to @ViewBag.Address</li>
        }
    }
</ul>
<h3>Order Total: @total.ToString("C")</h3>